:root {
    --primary-color: #fff;
    --secondary-color: #eaf0f2;
    --button-color: #3959FF;
    --light-color: #3959FF;
    --dark-color: #3959FF;
    --text-color: #556bd9;
    --card-color: #ffffff;
    --three-color: #242525;
    --four-color: #76e2cb;
}